<%-include('../partials/head.ejs') %>


</head>
<body>
    <%- include('../partials/navigation.ejs') %>

    <% if(orders.length>0) { %>

        <ul class="order_list">

        <% orders.forEach( (order) => { %>
                

            <li>
                <h2>Order : # <%= order._id %></h2>

                <ul class="Order_item_list">

                    <% order.items.forEach((item)=>{ %>
                            
                        <li><p><%= item.title %> (<%= item.qty %>)</p></li>

                    <% }) %>
                </ul>
            </li>
        <% }) %> 

        </ul>

     <%} else { %>

        <h1>No order made till now.</h1>
        
       <% } %> 
</body>

<%- include('../partials/end.ejs') %>